[submodule "0g-da-contract"]
	path = 0g-da-contract
	url = https://github.com/0glabs/0g-da-contract.git
[submodule "0g-da-encoder"]
	path = 0g-da-encoder
	url = https://github.com/0glabs/0g-da-encoder.git
[submodule "0g-da-signer"]
	path = 0g-da-signer
	url = https://github.com/0glabs/0g-da-signer.git
[submodule "0g-chain"]
	path = 0g-chain
	url = https://github.com/0glabs/0g-chain.git
	branch = dev
